USE [eStoreDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchNumber] [int] IDENTITY(1,1) NOT NULL,
	[Street] [varchar](150) NULL,
	[City] [varchar](150) NULL,
	[Region] [varchar](2) NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[BranchNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON
INSERT [dbo].[Branches] ([BranchNumber], [Street], [City], [Region], [Longitude], [Latitude]) VALUES (1, N'667 Main St', N'Woodstock', N'NB', -67.573, 46.15067)
INSERT [dbo].[Branches] ([BranchNumber], [Street], [City], [Region], [Longitude], [Latitude]) VALUES (2, N'360 Connell St', N'Woodstock', N'NB', -67.5985, 46.16861)
INSERT [dbo].[Branches] ([BranchNumber], [Street], [City], [Region], [Longitude], [Latitude]) VALUES (3, N'194 Beardsley Rd', N'Woodstock', N'NB', -67.6058, 46.1223)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO 
-- SHOULD BE 3592 if all is well
SELECT COUNT(*) AS [Total # of branches] FROM Branches 
