<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="eStoreDBEntities" connectionString="metadata=res://*/eStoreDataModel.csdl|res://*/eStoreDataModel.ssdl|res://*/eStoreDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=eStoreDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>